footer {
  min-height: 50px;
  background: $mondo3;
  color: white;
  font-size: 16px;
  font-weight: 100;

  .footer-box {
    padding-top: 15px;

    .social {
      text-align: center;

      i {
        margin-left: 15px;
        margin-top: 5px;
        // float: right;
      }
    }


    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      margin-left: 40px;

      a {
        color: white;
        cursor: pointer;

        &:hover {
          color: white;
        }
      }
      li {
        float: left;
        padding-left: 25px;
      }
    }

  }
}
