<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 footer-box">
        <button class="btn btn-footer">SIGNUP FOR NEWSLETTER</button>
      </div>
      <div class="col-lg-4 footer-box">
       <ul>
         <li><a ui-sref="#">New Skool</a></li>
         <li><a ui-sref="#">Phone</a></li>
         <li><a ui-sref="#">Email</a></li>
         <li><a ui-sref="#">Address</a></li>
       </ul>
      </div>
      <div class="col-lg-4 footer-box">
        <div class="social">
          <i class="fa fa-facebook-official"></i>
          <i class="fa fa-google-plus"></i>
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-twitter"></i>
        </div>
      </div>
    </div>
  </div>
</footer>
