<header>
  <nav class="hidden-sm hidden-md">
    <div class="logo">
      <a ui-sref="home"><img src="images/logo.jpg" alt="" /></a>
    </div>
    <div class="">
      <ul>
        <a ui-sref="about" class="hvr-underline-reveal"><li>OVERVIEW</li></a>
        <a ui-sref="about" class="hvr-underline-reveal"><li>ABOUT US</li></a>
        <a ui-sref="about" class="hvr-underline-reveal"><li>PROGRAMME</li></a>
        <a ui-sref="about" class="hvr-underline-reveal"><li>STUFF</li></a>
      </ul>
    </div>
    <div class="right">
      <ul>
        <a ui-sref="about" class="hvr-underline-reveal"><li>Application</li></a>
        <a ui-sref="about" class="hvr-underline-reveal"><li>Ask Us</li></a>
      </ul>
    </div>
  </nav>
</header>
