<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 first-box">
      <div class="enterence">
        <h1>NEW SKOOL</h1>
        <h1 class="title">World class education for enterprising engineers <br> with creative mid-set</h1>
        <button class="btn btn-title">MORE INFO</button>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 first-box">
      <iframe src="http://www.youtube.com/embed/6pxRHBw-k8M"></iframe>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-3 second-box">
      <img src="images/789468.jpg" alt="">
      <div class="text-box">
        <h2>APPLICATION TIMELINE</h2>
        <h3><strong>January 5</strong></h3>
        <h3><strong>February 11</strong></h3>
        <h3><strong>March 1</strong></h3>
        <h3><strong>April 20</strong></h3>
        <button class="btn btn-title" style="width: 250px">PROCEED TO APPLICATION</button>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 second-box">
      <img src="images/H3Z4HZ35-11.jpg" alt="">
      <div class="image-context">
        <img src="images/H3Z4HZ35-25.jpg" alt="">
        <div class="context">
          <h3>DO YOU WANT TO LEARN,<br> TO GROW, TO GET BETTER?</h3>
          <h3>ARE YOU ONE OF FEW, NOT MANY!</h3>
          <h2>Are you ready to play <br> whole new game!</h2>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 second-box">
      <img src="images/H3Z4HZ35-22.jpg" alt="">
      <img src="images/H3Z4HZ35-23.jpg" alt="">
    </div>
    <div class="col-lg-3 col-md-3 second-box">
      <div class="text-box text-box-fix">
        <h2>Dont follow the rules, <br> Play a whole new game</h2>
        <button class="btn btn-title">DARE TO JOIN US?</button>
      </div>
      <img src="images/4376489.jpg" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 third-box">
      <h2>OUR UNIQUE PROGRAMME</h2>
      <h3>WITH 5 CORE DISCIPLINES</h3>
      <button class="btn btn-more" type="button" name="button">FULL PROGRAMME HERE</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-4 fourth-box">
      <div class="image-context">
        <img src="images/1.jpg" alt="">
        <div class="context">
          <button class="btn btn-tiles">LEADERSHIP</button>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 fourth-box">
      <div class="image-context">
        <img src="images/2.jpg" alt="">
        <div class="context">
          <button class="btn btn-tiles">BUSINESS DEVELOPMENT</button>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 fourth-box">
      <div class="image-context">
        <img src="images/3.jpg" alt="">
        <div class="context">
          <button class="btn btn-tiles">TECHNOLOGY</button>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 fourth-box">
      <div class="image-context">
        <img src="images/4.jpg" alt="">
        <div class="context">
          <button class="btn btn-tiles">INOVATION</button>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 fourth-box">
      <div class="image-context">
        <img src="images/5.jpg" alt="">
        <div class="context">
          <button class="btn btn-tiles">CHANGE MANAGEMENT</button>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-4 fourth-box">
      <div class="image-context">
        <img src="images/6.jpg" alt="">
        <div class="context">
          <button class="btn btn-tiles">OTHER</button>
        </div>
      </div>
    </div>
  </div>

  <div clas="row">
    <div class="col-lg-12 fifth-box">
      <h1>WHY STUDENTS CHOSE NEW SKOOL</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque a non, autem animi cumque dicta sequi consequuntur fugiat aspernatur. Id sunt, animi assumenda. Assumenda, provident, aut maiores ipsam aliquid recusandae!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque fuga sequi fugiat recusandae voluptates quos, iste! Commodi, quaerat tenetur et voluptatem iure, nostrum laudantium laborum, ratione ducimus mollitia, excepturi ea.
      </p>
      <button class="btn btn-more">READ MORE</button>
    </div>
    <div class="col-lg-12 fifth-box fifth-box-two">
      <h1>WHY COMPANIES CHOSE NEW SKOOL</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque a non, autem animi cumque dicta sequi consequuntur fugiat aspernatur. Id sunt, animi assumenda. Assumenda, provident, aut maiores ipsam aliquid recusandae!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque fuga sequi fugiat recusandae voluptates quos, iste! Commodi, quaerat tenetur et voluptatem iure, nostrum laudantium laborum, ratione ducimus mollitia, excepturi ea.
      </p>
      <button class="btn btn-more">READ MORE</button>
    </div>
    <div class="col-lg-12 fifth-box fifth-box-three">
      <div class="col-lg-6">
        <button class="btn btn-bottom-main">Unique features of NEW SKOOL</button>
      </div>
      <div class="col-lg-6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt sint, dolores illum deleniti officia vero commodi ipsa quis voluptatem sequi aliquam facere, molestias fugiat modi? Tempore magni dolorem at dignissimos.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, expedita, animi. Debitis necessitatibus, velit, quia, eius numquam assumenda quis inventore pariatur fugiat quidem eligendi, dignissimos harum doloremque distinctio quam maxime.
        </p>
      </div>
    </div>
  </div>

</div>
